<template>
  <section
    class="cart__dropdown-container"
    data-test-id="cartContainer"
    v-click-outside="clickOutsideConfig"
  >
    <button
      data-test-id="cartButton"
      class="cart__dropdown-trigger"
      type="button"
      :class="{ 'cart__dropdown-trigger--active': isDropdownVisible }"
      @click="toggleDropdown"
    >
      <span class="cart__dropdown-trigger-icon">
        <img src="/icons/icon_cart.png" alt="" class="icon icon--cart" />
      </span>
      <span class="cart__item-count" data-test-id="cartItemCount">{{
        itemCount
      }}</span>
    </button>
    <div
      class="cart__dropdown"
      v-if="isDropdownVisible"
      data-test-id="cartDropdown"
    >
      <header class="cart__dropdown-header">
        <h4 class="cart__dropdown-heading" data-test-id="cartDropdownHeading">
          {{ cartHeading }}
        </h4>
        <p class="cart__total-price" data-test-id="cartTotalValue">
          $ {{ totalValue }}
        </p>
        <button
          data-test-id="cartClearButton"
          class="button button--clear-cart"
          @click="clearCart"
          v-if="itemCount"
        >
          Clear Cart
        </button>
      </header>
      <ul class="cart__items" data-test-id="cartItems">
        <CartItem
          :cartItem="item"
          v-for="item of cartItems"
          :key="item.id"
        ></CartItem>
      </ul>
    </div>
  </section>
</template>

<script lang="ts">
import vClickOutside from 'v-click-outside';
import { Component, Vue } from 'vue-property-decorator';
import { Getter, Mutation } from 'vuex-class';
import { Product } from '@/services';
import CartItem from '@/components/cart/CartItem.vue';
import { CartGetters, CartMutations } from '@/store/cart';

@Component({
  components: {
    CartItem,
  },
  directives: {
    clickOutside: vClickOutside.directive,
  },
})
export default class Cart extends Vue {
  @Getter(CartGetters.CartItems)
  public cartItems!: Product[];

  @Getter(CartGetters.ItemCount)
  public readonly itemCount!: number;

  @Getter(CartGetters.TotalValue)
  public readonly totalValue!: number;

  @Mutation(CartMutations.ClearCart)
  handleClearCart!: () => void;

  public isDropdownVisible = false;

  public clickOutsideConfig = {
    middleware(event: Event) {
      return !(event.target as HTMLElement).classList.contains('button--price');
    },
    handler: this.hideDropdown,
  };

  get cartHeading() {
    return `${this.itemCount} ${
      this.itemCount === 1 ? 'item' : 'items'
    } in cart`;
  }

  public toggleDropdown() {
    this.isDropdownVisible = !this.isDropdownVisible;
  }

  public hideDropdown() {
    this.isDropdownVisible = false;
  }

  public clearCart() {
    this.handleClearCart();
  }
}
</script>

<style lang="scss" scoped>
.cart__dropdown-container {
  position: relative;
}

.cart__dropdown-trigger {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: none;
  border: 1px solid $grey;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  width: 3.625rem;

  &--active {
    background: $grey-light;
  }
}

.cart__dropdown-trigger-icon,
.icon--cart {
  height: 1rem;
}

.cart__item-count {
  margin-left: 0.25rem;
  font-size: 1rem;
}

.cart__dropdown {
  z-index: 1;
  position: absolute;
  top: 100%;
  background: $grey-light;
  min-width: 25rem;
  right: 0;
  box-shadow: 0 8px 4px 3px rgba(0, 0, 0, 0.1);
}

.cart__dropdown-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: $grey-light;
  border-bottom: 1px solid $grey;
}

.cart__dropdown-heading {
  margin: 0;
  text-transform: uppercase;
}

.cart__total-price {
  margin-left: auto;
  margin-right: 0.75rem;
  font-weight: bold;
}

.cart__items {
  padding: 0;
  margin: 0;
  max-height: 20rem;
  overflow: auto;
  list-style-type: none;
  width: 100%;
}

.button--clear-cart {
  padding: 0.75rem 1rem;
}
</style>
