<template>
  <li class="cart__item">
    <div class="cart__item-thumbnail-container">
      <img
        :src="cartItem.thumbnail"
        :alt="cartItem.title + ' thumbnail'"
        class="cart__item-thumbnail"
      />
    </div>
    <div class="cart__item-details truncate">
      <h5 class="cart__item-title truncate" :title="cartItem.title">
        {{ cartItem.title }}
      </h5>
      <button
        title="Remove from cart"
        class="button button--transparent button--remove-item"
        @click="removeFromCart"
      >
        Remove
      </button>
    </div>
    <span class="cart__item-price">$ {{ cartItem.price.value }}</span>
  </li>
</template>

<script lang="ts">
import { Product } from '@/services';
import { CartMutations } from '@/store/cart';
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Mutation } from 'vuex-class';

@Component
export default class CartItem extends Vue {
  @Prop({ required: true })
  public readonly cartItem!: Product;

  @Mutation(CartMutations.RemoveItem)
  removeItem!: (id: number) => void;

  public removeFromCart() {
    return this.removeItem(this.cartItem.id);
  }
}
</script>

<style lang="scss" scoped>
.cart__item {
  width: 100%;
  padding: 0.5rem;
  display: flex;

  &:not(:last-of-type) {
    border-bottom: 1px solid $grey;
  }

  &:hover,
  &:focus,
  &:focus-within {
    .button--remove-item {
      opacity: 1;
      transition: opacity 100ms ease-in;
    }
  }
}

.cart__item-thumbnail-container {
  max-width: 6.25rem;
  flex: 0 0 auto;
}

.cart__item-thumbnail {
  object-fit: contain;
  width: 100%;
}

.cart__item-details {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
}

.cart__item-title {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

.cart__item-price {
  word-break: keep-all;
  white-space: nowrap;
  margin-left: auto;
  display: flex;
  text-align: right;
  align-items: center;
}

.button--remove-item {
  font-size: 0.7rem;
  text-transform: capitalize;
  opacity: 0;
  color: $text-grey;
  transition: opacity 100ms ease-out;
}
</style>
