@import './variables';

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: $grey-lighter;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: $grey;
  border: 1px solid $grey-lighter;
}

body {
  color: $text-primary;
}

.flex__spacer {
  flex: 1 1 auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  border-radius: 3px;
  border: 0;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
  background: $black;
  color: $white;
  font-size: 1rem;

  &--transparent {
    background: none;
    border: 0;
    text-decoration: underline;
    padding: 0;
  }

  &--accent {
    background: $accent;
    color: $white;
  }

  &:disabled {
    background: $grey;
    color: $grey-light;
    cursor: initial;
  }
}

.badge {
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  background: $grey;
  text-transform: uppercase;

  &--accent {
    background: $accent;
    color: $white;
  }
}
