<template>
  <article class="tile tile--product" data-test-id="productTile">
    <div class="tile__image-container">
      <a class="tile__link" href="#">
        <img
          class="tile__image"
          :src="product.thumbnail"
          :alt="product.title"
        />
      </a>
    </div>
    <div class="tile__content">
      <h4 class="tile__title">
        <a class="tile__link" href="#">{{ product.title }}</a>
      </h4>
      <footer class="tile__footer">
        <span
          data-test-id="productDiscountBadge"
          class="tile__footer-item badge badge--discount badge--accent"
          v-if="product.price.isDiscounted"
        >
          {{ discountValue }}
        </span>
        <button
          data-test-id="productAddToCartButton"
          :disabled="product.isOwned"
          class="tile__footer-item button button--price"
          :class="{ 'button--accent': isInCart }"
          @click="handlePriceButtonClick"
        >
          {{ priceButtonText }}
        </button>
      </footer>
    </div>
  </article>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Product } from '@/services';
import { Mutation, Getter } from 'vuex-class';
import { CartMutations, CartGetters } from '@/store/cart';

@Component
export default class ProductListItem extends Vue {
  @Prop({ required: true })
  public readonly product!: Product;

  @Mutation(CartMutations.AddItem)
  addToCart!: (product: Product) => void;

  @Getter(CartGetters.IsInCart)
  handleIsInCart!: (productId: number) => boolean;

  get discountValue() {
    return `-${this.product.price.discountValue}%`;
  }

  public handlePriceButtonClick() {
    this.addToCart(this.product);
  }

  get isInCart() {
    return this.handleIsInCart(this.product.id);
  }

  get priceButtonText() {
    if (this.product.isOwned) {
      return 'Owned';
    }
    if (this.isInCart) {
      return 'In Cart';
    }
    return `$ ${this.product.price.value}`;
  }
}
</script>

<style lang="scss" scoped>
.tile {
  display: flex;
  flex-direction: column;
  background: $grey-lighter;
  min-height: 12rem;
  transition: all ease-in 100ms;

  &:hover {
    transition: all ease-out 100ms;
    box-shadow: 0 2px 4px 2px darken($grey, 5);
  }
}

.tile__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.tile__image-container .tile__content {
  width: 100%;
}

.tile__image {
  width: 100%;
  object-fit: cover;
}

.tile__content {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile__title {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  text-transform: uppercase;
  display: inline-block;
}

.tile__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}

.badge--discount {
  margin-right: 0.5rem;
}
</style>
