<template>
  <section class="products" data-test-id="productList">
    <ProductListItem
      v-for="product in products"
      :key="product.id"
      :product="product"
    >
      {{ product.name }}
    </ProductListItem>
  </section>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import { Product } from '@/services';
import ProductListItem from '@/components/product/ProductListItem.vue';
import { ProductActions, ProductGetters } from '@/store/product';

@Component({
  components: {
    ProductListItem,
  },
})
export default class ProductList extends Vue {
  @Action(ProductActions.FetchProducts)
  public fetchProducts!: () => void;

  @Getter(ProductGetters.Products)
  public readonly products!: Product[];

  private async mounted() {
    await this.fetchProducts();
  }
}
</script>

<style lang="scss" scoped>
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
    gap: 0 1rem;
  }
}

@media screen and (min-width: 769px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

.products {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}
</style>
