<template>
  <nav class="navigation navigation--main">
    <a href="#" class="navigation__item">
      <img src="images/logo.png" alt="Logo" class="navigation__logo" />
    </a>
    <span class="flex__spacer"></span>
    <Cart></Cart>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Cart from '@/components/cart/Cart.vue';

@Component({
  components: {
    Cart,
  },
})
export default class Navbar extends Vue {}
</script>

<style lang="scss" scoped>
@media screen and (max-width: 768px) {
  .navigation--main {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 769px) {
  .navigation--main {
    padding: 0 6.25rem;
  }
}

.navigation--main {
  position: sticky;
  top: 0;
  display: flex;
  background: $grey-lighter;
  z-index: 1;
}

.navigation__logo {
  height: 2rem;
}

.navigation__item {
  display: block;
  padding: 0.75rem 0;
}
</style>
