<template>
  <div id="app">
    <Navbar></Navbar>
    <main class="container">
      <Banner></Banner>
      <ProductList></ProductList>
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue';
import Banner from '@/components/banner/Banner.vue';
import ProductList from '@/components/product/ProductList.vue';

@Component({
  components: {
    Navbar,
    Banner,
    ProductList,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss" scoped>
@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 6.25rem;
  }
}

#app {
  background: $grey;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
}
</style>
