<template>
  <section class="banner">
    <h4 class="banner__heading">GAME OF THE WEEK</h4>
    <SecretButton
      class="button--secret"
      data-test-id="secretButton"
    ></SecretButton>
    <a
      class="banner__link"
      :title="gameOfTheWeek.title"
      href="#"
      rel="noopener noreferrer"
      v-if="gameOfTheWeek"
    >
      <img
        data-test-id="gameOfTheWeekImage"
        :src="gameOfTheWeek.thumbnail"
        :alt="gameOfTheWeek.title"
        class="banner__image"
      />
    </a>
  </section>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import SecretButton from '@/components/banner/SecretButton.vue';
import { ProductActions, ProductGetters } from '@/store/product';
import { Action, Getter } from 'vuex-class';
import { Product } from '@/services';

@Component({
  components: {
    SecretButton,
  },
})
export default class Banner extends Vue {
  @Action(ProductActions.FetchGameOfTheWeek)
  public fetchGameOfTheWeek!: () => void;

  @Getter(ProductGetters.GameOfTheWeek)
  public readonly gameOfTheWeek!: Product | null;

  public async mounted() {
    await this.fetchGameOfTheWeek();
  }
}
</script>

<style lang="scss" scoped>
.banner {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.banner__heading {
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
}

.banner__link {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;

  transition: all ease-in 100ms;

  &:hover {
    transition: all ease-out 100ms;
    box-shadow: 0 2px 4px 2px darken($grey, 5);
  }
}

.banner__image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.button--secret {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
