<template>
  <button class="button button--secret" type="button">
    A SECRET BUTTON THAT YOU SHOULD TOTALLY IMPLEMENT
  </button>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class SecretButton extends Vue {}
</script>
